<div class="footer bg-dark">
    <div class="text-center py-5">
        <span class="px-3"><a href="/" class="text-decoration-none color_W">Home</a></span>
        <span class="px-3"><a href="#contact_id" class="text-decoration-none color_W">Contact</a></span>
        <span class="px-3"><a href="gallery" class="text-decoration-none color_W">Gallery</a></span>
        <span class="px-3"><a href="#membership_id" class="text-decoration-none color_W">Membership</a></span>
        <span class="px-3"><a href="#trainer_id" class="text-decoration-none color_W">Trainer</a></span>
        <hr class=" w-50 mx-auto color_W" />
    </div>
    <div class="text-center color_W">
        <i class="fa-solid fa-copyright fs-4"></i>
        <span class="px-3">all rights 2021-2022 are reserved </span>
    </div> 

</div>