<div class="bg-dark">
    <div class="row my-5 px-5">
        <div class="col-4">
            <figure>
                <img src="../images/m1.jpg" class="img-fluid">
            </figure>
        </div>
        <div class="col-8 color_W">
            <h2>write here something about machine and etc.</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat aut neque excepturi harum sint dolores
                obcaecati nisi ipsa rem architecto, enim minima magni est impedit corrupti rerum repudiandae nam.
                Possimus fugiat necessitatibus distinctio dolorem odio dolore tenetur ipsam sed error harum, quisquam
                recusandae similique sapiente minima accusamus explicabo. Accusamus, quos?</p>
        </div>
    </div>
    <div class="row my-5 px-5">
        <div class="col-7 color_W">
            <h2>write here something about machine and etc.</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat aut neque excepturi harum sint dolores
                obcaecati nisi ipsa rem architecto, enim minima magni est impedit corrupti rerum repudiandae nam.
                Possimus fugiat necessitatibus distinctio dolorem odio dolore tenetur ipsam sed error harum, quisquam
                recusandae similique sapiente minima accusamus explicabo. Accusamus, quos?</p>
        </div>
        <div class="col-5">
            <figure>
                <img src="../images/m2.jpg" class="img-fluid">
            </figure>
        </div>
    </div>
</div>