
<div class="container my-3" id="membership_id">
    <h2 class="text-capitalize text-center">our membership</h2>
    <hr class="w-25 mx-auto" />
    <div class="row my-5 bg-light py-3">
        <div class="col-12 col-md-4 text-center border-start border-dark  border-4  text-capitalize">
            <i class="fa-solid fa-star color_S"></i>
            <i class="fa-solid fa-star color_S"></i>
            <i class="fa-solid fa-star color_S"></i>
            <h4>silver</h4>
            <div class="text-center">
                <p><i class="fa-solid fa-rupee-sign"></i></p>
                <p>This is for 6 months</p>
            </div>
            <button type="button" class="btn btn-info btn-sm w-50 rounded-pill " id='silver_M'>Enorll Now</button>
        </div>
        <div class="col-12 col-md-4 text-center border-start border-dark  border-4  text-capitalize">
            <i class="fa-solid fa-star color_G"></i>
            <i class="fa-solid fa-star color_G"></i>
            <i class="fa-solid fa-star color_G"></i>
            <h4>gold</h4>
            <div class="text-center">
                <p><i class="fa-solid fa-rupee-sign"></i></p>
                <p>This is for 1 year</p>
            </div>
            <button type="button" class="btn btn-info btn-sm w-50 rounded-pill " id="gold_M">Enroll Now</button>
        </div>
        <div class="col-12 col-md-4 text-center border-start border-dark  border-4  text-capitalize">
            <i class="fa-solid fa-gem color_D"></i>
            <i class="fa-solid fa-gem color_D"></i>
            <i class="fa-solid fa-gem color_D"></i>
            <h4>daimond</h4>
            <div class="text-center">
                <p><i class="fa-solid fa-rupee-sign"></i></p>
                <p>This is for 5 year</p>
            </div>
            <button type="button" class="btn btn-info btn-sm w-50 rounded-pill" id="daimond_M">Enroll Now</button>
            
        </div>
    </div>
</div>